.article-text {
  width: 90vw;
  margin: 2em auto 4em auto;
  text-wrap: wrap !important;
  text-align: left;
}

.spacer:not(.app-preview-spacer) {
  width: 3em;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

table {
  width: fit-content;
  td {
    padding: 0.5em 1em;
    /* border: 0.1em solid var(--primary-color); */
    width: fit-content;
    text-wrap: nowrap;
  }
  .table-left {
    text-align: left;
  }
  .table-right {
    text-align: left;
  }

  .accent {
    color: var(--primary-color);
  }

  @media screen and (max-width: 500px) {
    width: 90%;
  }
}

#specs-table {
  padding: 0 auto !important;
  margin: 0 !important;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

#featureHeader {
  background-color: var(--background-color-primary);
  border: 0.1em solid var(--primary-color);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 1em auto;
  width: fit-content;
  &:hover {
    background-color: var(--primary-color);
  }
}

#featureList {
  display: grid;
  scale: 0;
  height: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
  align-items: center;
  margin: 0 10%;
  transition: all 0.5s ease-in-out;
  li {
    text-align: left;
    /* remove list bullets */
    list-style-type: none;
    padding: 1em;
    margin: 5px;
    border-radius: 1em;
    transition: all 0.5s ease-in-out;
  }
  .featureok {
    background-color: #00ff0033;
  }
  .featureoff {
    background-color: #ff000033;
  }
}

#screenshot {
  max-width: 500px;
  max-height: 500px;
  border: 0.125em solid var(--primary-color);
  border-radius: 1em;
  transition: all 0.5s ease-in-out;

  &:hover {
    scale: 1.05;
    box-shadow: 0 0 1em var(--primary-color);
  }
  @media screen and (max-width: 800px) {
    width: 60vw !important;

    @media screen and (max-width: 500px) {
      /* width: 95vw !important;   */
      &:hover {
        scale: 1;
        box-shadow: none;
      }
    }
  }
}

footer {
  margin-top: 5em;
  text-align: center;
}


details,
#article-info,
.card {
  padding: 0.5em;
  border-radius: 1em;
  background-color: var(--background-color-primary);
  border: 0.1em solid var(--primary-color);
  width: fit-content;
  margin: 2em auto;
  transition: all 0.5s ease-in-out;
  a {
    text-decoration: none;
    /* color: var(--primary-color); */
  }
  max-width: 70vw;

  @media screen and (max-width: 500px) {
    max-width: 95vw;
  }

  .container {
    width: 100%;
    text-wrap: wrap;
  }

  .article-text {
    width: fit-content;
    margin: 1em !important;
    text-wrap: wrap;
  }

  summary {
    padding: 1em;
  }

  .list-left {
    text-align: left;
  }

  .details-favicon {
    max-width: 5em;
    max-height: 1em;
    margin-left: 2em;
  }
}

#article-info {
  img {
    width: 100%;
    border-radius: 1em;
  }
}

#photos {
  background-image: url(https://play-lh.googleusercontent.com/ZyWNGIfzUyoajtFcD7NhMksHEZh37f-MkHVGr5Yfefa-IX7yj9SMfI82Z7a2wpdKCA);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color-primary);
  /* height: 10em; */
  width: 65%;
  margin: 1em auto;
  border-radius: 1em;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    width: 90%;
  }

  p {
    color: var(--background-color-primary);
    background-color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 3em auto !important;
  }
}

.warn {
  color: var(--red);
}

#carrier-list {
  width: 100%;
  details {
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

.article-summary {
  #ims-img {
    width: 50%;
    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
}

.button {
  background-color: var(--primary-color);
  width: fit-content;
  border-radius: 1em;
  border: 0.1em solid var(--background-color-primary);
  padding: 1em 2em;
  margin: 1em;
  transition: all 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--background-color-primary);

  &:hover {
    scale: 1.05;
  }

  }

/* Highlighted notice / callout used in some articles */
.notice-callout {
  border: 0.18em solid var(--primary-color);
  border-radius: 1em;
  background-color: rgba(255,255,255,0.02);
  padding: 1em;
  margin: 1em 0;
  max-width: 70vw;
}
.notice-callout h4 {
  margin: 0 0 0.5em 0;
}
.notice-callout p,
.notice-callout ol {
  margin: 0.5em 0;
}

.notice-callout .button {
  display: inline-block;
  margin: 0.5em 0 0 0;
  vertical-align: middle;
}

#charging {
  text-align: left;
  .article-text {
    padding: auto 40%;
  }
  summary {
    text-align: center;
  }
}

.accent {
  color: var(--primary-color);
}

#tldr {
  border: 0.1em solid var(--primary-color);
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
}

.article-img {
  display: block;
  max-height: 25vh;
  max-width: 100%;
  margin: 1em;
  border-radius: 1em;
  transition: all 0.5s ease-in-out;
  &:hover {
    scale: 1.05;
  }
}

.article-img-carousel {
  max-width: 95%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

details,
section {
  width: 80%;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
  margin: 0.5em auto;
}
