:root{
    --primary-color: #4AFFBD;
    --text-color: #ffffff;
    --background-color-primary: #000000;
    --background-color-secondary: #303030;
    --background-color-tr: #55555588;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --font-weight: 400;
    --blur: 0.5em;
}