@import url(./common/nav.css);
@import url(./common/logo.css);
@import url(./common/love-tag.css);

/* Font loading optimization */
@font-face {
  font-family: "sugar-magic";
  src: url("../assets/fonts/sugarmagicpersonaluseonly-jemyo.otf")
    format("opentype");
  font-display: swap;
}

:root {
  color-scheme: light dark;
  --primary-color: light-dark(#226655, #4affbd);
  --text-color: light-dark(#000000, #ffffff);
  --background-color-primary: light-dark(#ffffff, #000000);
  --background-color-secondary: light-dark(#dbdbdb, #303030);
  --background-color-tr: light-dark(#ddddddbb, #55555588);
  --font-size: 16px;
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    system-ui, sans-serif;
  --font-weight: 400;
  --blur: 0.5em;
  --contrast: 0;
  --radius-in: 15px;
  --radius-out: 20px;

  /*  change this for scaling  */
  --m: 4rem;

  --red: #ff6565;
  --pink: #ff64f9;
  --purple: #6b5fff;
  --blue: #4d8aff;
  --green: #5bff89;
  --yellow: #ffee55;
  --orange: #ff6d1b;
}

/* use teh font from ../assets/fonts/Harmond-ExtraBoldExpanded.otf */
@font-face {
  font-family: "sugar-magic";
  src: url("../assets/fonts/sugarmagicpersonaluseonly-jemyo.otf")
    format("opentype");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: var(--primary-color) var(--background-color-primary);
}

body {
  background-color: var(--background-color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: 1.5;
  color: var(--text-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  margin: 0;
  padding: 4em 0 0 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 300px) {
    opacity: 0.5;
  }
}

h1 {
  font-family: "sugar-magic", sans-serif;
  width: 100vw;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  text-align: right;
  font-size: calc(100vw / 6);
  line-height: 0.9;
  padding: 0;
  margin: 0;
  @media screen and (max-width: 500px) {
    text-align: center;
  }
  strong {
    color: var(--primary-color);
  }
}

#subtitle {
  font-family: "sugar-magic", sans-serif;
  background: none;
  color: var(--text-color);
  font-size: calc(100vw / 20);
  margin: 0 10px;
  padding: 0;
  width: 100vw;
  text-align: right;
  strong {
    color: var(--primary-color);
  }
  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

h2 {
  padding: 0.75em;
  font-size: 1.25rem;
  border-radius: var(--radius-out);
  color: var(--primary-color);
  background-color: var(--background-color-secondary);
  transition: all 0.5s ease-in-out;
}

h3 {
  padding: 0.75em;
  margin: 0;
  font-size: 1.25rem;
  border-radius: var(--radius-out);
  color: var(--text-color);
  background-color: var(--background-color-tr);
  backdrop-filter: blur(var(--blur));
  transition: all 0.5s ease-in-out;
}

/* animate on scroll per item */
.item {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  opacity: 0;
  transform: translate(0, 100px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  p {
    /* overflow: hidden;
    white-space: nowrap; */
    font-size: 1.2em;

    span.typed-text {
      color: var(--primary-color);
    }
    span.cursor {
      display: inline-block;
      background-color: var(--primary-color);
      margin-left: 0.1rem;
      width: 3px;
      animation: blink 1s infinite;
    }
    span.cursor.typing {
      animation: none;
    }
  }
}

.button-view {
  background-color: var(--background-color-secondary);
  padding: 0.5em 1em;
  margin-bottom: 4em;
  border: 0.1em solid var(--text-color);
  border-radius: var(--radius-out);
  @media screen and (min-width: 500px) {
    &:hover {
      background-color: var(--primary-color);
      color: var(--background-color-secondary);
      cursor: none;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.content {
  margin: 0 25%;
  @media screen and (max-width: 1000px) {
    margin: 15%;
    @media screen and (max-width: 500px) {
      margin: 0 10%;
    }
  }

  p {
    padding: 0;
    text-wrap: wrap;
    text-align: justify;
  }

  .details {
    margin: 2em 2em;
    text-align: left;
    line-height: 2;
  }
}

.skills {
  margin: 4em auto;
  img {
    width: 40vw;
    @media screen and (max-width: 500px) {
      width: 80vw;
    }
  }
}

.stats {
  margin-top: 2em;
  filter: invert(1);
}

.accent {
  color: var(--primary-color);
}

.hidden {
  display: none;
}

.wip {
  width: 30%;
  margin: auto;
  transform: translate(-50%, 50%);
}

.new-article {
  position: absolute;
  /* filter: invert(1); */
  top: 0;
  left: 0;
  transform: translate(-20%, -30%);
  max-width: 5em;
  max-height: 5em;
  z-index: 10000;
}

#social-list {
  /* position: sticky; */
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 20px 0 100px 0;
  @media screen and (max-width: 750px) {
    justify-content: center;
    margin: 20px 0 20vw 0;
    /* margin-bottom: -50px; */
  }
  a {
    margin: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
    padding: 0.5em 1em;
    border-radius: var(--radius-out);
    animation: opacity 4s infinite reverse;
    animation-delay: calc(var(--i) * 0.2s);
    &:hover {
      color: var(--background-color-primary);
      background-color: var(--primary-color);
    }
    i {
      font-size: 1em !important;
      margin-right: 0.5em;
      display: none;
    }
  }
}

.container-mini {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: end;
  justify-content: end;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 750px) {
    bottom: 50px;
    margin-top: 50vw;
    height: fit-content;

    @media screen and (max-width: 500px) {
      bottom: 0;
      margin-top: 100vw;
      /* height: 50vh; */
    }
  }
}

section:not(#intro, #apps) {
  overflow-x: hidden;
}
