:root{
    --primary-color: #4AFFBD;
    --secondary-color: #000000;
    --tertiary-color: #ff0000;
    --text-color: #ffffff;
    --background-color-primary: #212121;
    --background-color-secondary: #303030;
    --background-color-tertiary: #5d5d5d;
    --black: #000000;
    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --font-weight: 400;
}

html{
    /* background-color: var(--background-color-secondary) */
}

body{
    background-color: var(--background-color-secondary);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    height: 100vh;
    width: 100vw;

    /* @media screen and (max-width: 768px){
        text-align: center;
        
    } */
}


nav{
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color-secondary);
    color: var(--secondary-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border-radius: 2em;
    border: 0.15em solid var(--text-color);
    transition: border 0.5s ease-in-out;
    z-index: 100;
    &:hover{
        border: 0.15em solid var(--primary-color);
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0.25em;
        li{
            margin: 0.25em;
            transition: all 0.5s ease-in-out;
            a{
                /* make width the same as the height */
                width: 4em;
                height: 4em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: var(--primary-color);
                /* background-color: var(--background-color-primary); */
                padding: 1rem;
                border-radius: 2em;
                text-decoration: none;
                font-size: 0.75rem;
                text-align: center;
                transition: all 0.5s ease-in-out;
                opacity: 0.5;
                span{height: 0px;
                    scale: 0;
                    transition: all 0.5s ease-in-out;
                }
                &:hover{
                    opacity: 1;
                    /* color: var(--tertiary-color); */
                    span{
                        height: 100%;
                        scale: 1;
                    }
                }
                i{
                    scale: 1.75;
                    padding: 0.5rem;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
    @media screen and (max-width: 400px){
        a{
            width: 2em !important;
            height: 2em !important;
            span{
                display: none;
            }
            i{
                scale: 1.5 !important;
            }
        }
    }
}

.active{
    background-color: var(--primary-color);
    color: var(--background-color-secondary);
    opacity: 1;
    span{
        height: 100%;
        scale: 1;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    padding: 4em 0;
    margin: 0;
    /* height: 100vh; */
    .heading{
        display: flex;
        justify-content: center;
        align-items: left;
        text-align: left;
        flex-direction: row;
        .container-mini{
            margin: 0 2em;
        }
    
        @media screen and (max-width: 768px){
            flex-direction: column;
            text-align: center;
            align-items: center;
            
        }
    }
    h1{
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}

#logo{
    width: 8em;
}

.container p {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
  }
  .container p span.typed-text {
    color: var(--primary-color)
  }
  .container p span.cursor {
    display: inline-block;
    background-color: var(--primary-color);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

#socials{
    display: inline-flex;
    /* align-items: center; */
    margin: 1em 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
    .button{
        a {
            border: var(--text-color) 2px solid;
            border-radius: 1em;
            margin: 0.25em;
            width: 3em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            .fa{
                font-size: 1.75rem !important;
                transition: all 0.5s ease-in-out;
                color: var(--text-color);
            }
            &:hover{
                border: var(--primary-color) 2px solid;
                .fa{
                    color: var(--primary-color);
                }
            }
        }
    }
    @media screen and (max-width: 500px){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        .button{
            align-items: center;
            justify-content: center;
            width: 4em;
            height: 4em;
            margin: auto;
        }

        
    }
}

section{
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#github{
    margin: 1em 0;
    padding: 0;
    max-width: 100%;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 500px){
        scale: 0.75;
        @media screen and (max-width: 400px){
            scale: 0.65;
            
        }
        
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.wip{
    width: 30%;
    margin: auto;
    transform: translate(-50%, 50%);
    
}