#last {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--background-color-tr);
  backdrop-filter: blur(var(--blur));
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius-in);
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 10px;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-120%);

  #eq {
    width: 30px;
    height: 30px;
    margin: 1em;
    filter: saturate(0);
    @media (prefers-color-scheme: light) {
      filter: saturate(0) invert(1);
    }
  }

  .history {
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .history {
      height: 100%;
      width: 100%;
      opacity: 1;
      margin: 1em auto 0 auto;
    }
  }

  #music-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  &.show {
    transform: translateX(0);
  }

  img,
  a {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    margin-right: 10px;
    object-fit: cover; /* Ensure the image is fully visible */
  }

  #track {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong {
      color: var(--primary-color);
    }
  }

  #track p {
    margin: 0;
    font-size: 14px;
  }

  #track p:first-child {
    font-weight: bold;
  }

  #controls {
    display: flex;
    align-items: center;
  }
}