
nav {
  position: fixed;
  left: 1em;
  top: 50vh;
  transform: translateY(-50%);
  background-color: var(--background-color-tr);
  backdrop-filter: blur(var(--blur));
  color: var(--background-color-primary);
  width: fit-content;
  height: fit-content;
  border-radius: var(--radius-out);
  transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);
  z-index: 100;
  padding: 40px auto;

  ul {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0.1em;
    transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);
    li {
      margin: 0.25em;
      transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);
      a {
        width: 3em;
        height: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        padding: 1rem;
        border-radius: var(--radius-in);
        text-decoration: none;
        font-size: 0.75rem;
        text-align: center;
        transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);
        opacity: 0.4;
        .caption {
          height: 0px;
          scale: 0;
          transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);
        }
        @media screen and (min-width: 500px) {
          &:hover {
            opacity: 1;
            .caption {
              height: 100%;
              scale: 1;
            }
          }
        }
        i {
          scale: 1.75;
          padding: 0.5rem;
          transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);
        }
      }
    }

    @media screen and (max-width: 750px) {
      display: flex;
    }
  }

  --size: 68px;
  --step: 72px;
  --offset-x: 5.6px;
  --offset-y: 4px;

  .nav-indicator {
    position: absolute;
    top: var(--offset-y);
    left: var(--offset-x);
    transform: translateY(calc(var(--i, 0) * var(--step)));
    will-change: transform;
    z-index: 0;
    width: var(--size);
    height: var(--size);
    background-color: var(--primary-color);
    border-radius: var(--radius-in);
    pointer-events: none;
    transition: all 0.45s cubic-bezier(0.2, 0, 0, 1);

    &.hidden {
      opacity: 0;
    }
  }

  ul {
    position: relative;
    z-index: 1;
  }

  .active {
    color: var(--background-color-secondary);
    opacity: 1;
    .caption {
      height: 100%;
      scale: 1;
    }
  }

  &.mini {
    --size: 44px;
    --step: 48px;
    border-radius: 28px;
    .nav-indicator {
      border-radius: 22px;
    }
    a {
      border-radius: 22px;
      width: 1em !important;
      height: 1em !important;
      .caption {
        height: 0 !important;
        scale: 0 !important;
      }
      i {
        scale: 1 !important;
      }
    }
  }

  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column;
    bottom: 1em !important;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    --step: 76px;

    &.mini {
      --step: 52px;
    }

    .nav-indicator {
      top: 5.6px;
      left: 5.6px;
      transform: translateX(calc(var(--i, 0) * var(--step)));
    }
  }

  @media screen and (max-width: 500px) {
    --size: 56px;
    --step: 64px;

    &.mini {
      --size: 44px;
      --step: 52px;
    }

    a {
      width: 2em !important;
      height: 2em !important;
      span {
        display: none;
      }
      i {
        scale: 1.5 !important;
      }
    }
  }
}